# Backend Configuration
PORT=4000
NODE_ENV=development
DATABASE_URL=postgres://postgres:root@localhost:5433/taskflow
CORS_ORIGIN=http://localhost:5173

# Database (Docker)
POSTGRES_DB=taskflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

# JWT Configuration
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=1d
